/* common styles */

body {
  margin: 0;
  padding: 0;
  font-family: "Now", sans-serif;
  box-sizing: border-box;
  background-color: #282828;
}
.text-color {
  color: #30fbef;
}
.link-color {
  color: #30fbef !important;
}
.circle-container {
  display: flex;
  align-items: center;
}
.active-circle {
  background-color: #f063b8;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}
.circle {
  background-color: #fff;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.color-white {
  color: #ffffff !important;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  margin: 0 8%;
  padding-top: 3%;
}
.arrow-container {
  display: flex;
}
/* navbar styles */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 67px;
  margin-bottom: 137px;
  margin-left: 120px;
  margin-right: 120px;
}
.logo-container {
  display: flex;
  justify-items: center;
  align-items: center;
}
.logo-image {
  width: 60px;
  height: 60px;
  margin: 0 9px;
}
.name {
  color: #30fbef;
  font-size: 26px;
}
.links {
  display: flex;
}
.links li {
  list-style-type: none;
}
.links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  margin-right: 40px;
}
a.active,
a:hover {
  color: #30fbef !important;
}
.demo-btn {
  background-color: #282828;
  border-radius: 50px;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  margin-top: -15px;
  padding: 17px 29px;
}
.fa-arrow-right {
  color: #9c69e2;
  padding-left: 10px;
}

.icon {
  display: none;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
}
/* banner styles */
.banner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 41px;
  justify-items: center;
  margin: 0 12%;
}
.title {
  color: #30fbef;
  font-weight: 700;
  font-size: 64px;
}
.sub-text {
  color: #ffffff;
  font-size: 18px;
  padding-bottom: 18px;
}
.banner-image {
  width: 431px;
  height: 486px;
}
.banner-btn {
  background-color: #282828;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  margin-top: 18px;
  border-radius: 50px;
  color: #ffffff;
  padding: 19px 60px;
}
/* main section */
.data-storage-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 41px;
  justify-items: center;
  margin: 5% 12%;
  background-image: radial-gradient(
    38.2% 50% at 50% 50%,
    #2e3134 0%,
    #292b2e 100%
  );
  border: 2px solid #272829;
  box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  padding: 5%;
}
.data-storage-text h1 {
  color: #30fbef;
  font-size: 40px;
}
.data-storage-text p {
  color: #ffffff;
}
/* features section styles */
.features-container {
  background-image: radial-gradient(
    38.2% 50% at 50% 50%,
    #2e3134 0%,
    #292b2e 100%
  );
  border: 1px solid #272829;
  box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  margin: 0 12%;
  padding-bottom: 7%;
}
.features-container h1 {
  margin: 5% 7%;
}
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 5%;
}
.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25),
    -9px -9px 10px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  padding: 7% 8%;
  margin: 0 5%;
  padding-bottom: 10%;
}
.card-text p {
  color: #ffffff;
  text-align: justify;
}
.card-link {
  text-decoration: none;
}
/* download app section styles */
.download-app-section {
  margin: 5% 12%;
  background-image: radial-gradient(
    38.2% 50% at 50% 50%,
    #2e3134 0%,
    #292b2e 100%
  );
  border: 2px solid #272829;
  box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  padding: 5%;
  height: 350px;
}
.download-text {
  z-index: -2;
  width: 50%;
  text-align: justify;
}
.download-image {
  margin-top: -450px;
  width: 80%;
  margin-left: 380px;
}
.download-btn {
  background-color: #282828;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);

  border-radius: 50px;
  color: #ffffff;
  padding: 19px 60px;
}
@media only screen and (max-width: 688px) {
  .hide {
    display: none;
  }
  .logo-container {
    display: flex;
  }
  .logo-image {
    width: 40px;
    height: 40px;
  }
  .icon {
    left: 0;
  }
  .navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 27px;
    margin-bottom: 57px;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .demo-btn {
    display: flex;
    background-color: #282828;
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
      -3px -3px 8px rgba(75, 93, 104, 0.1);
    width: 140px;
    margin-top: 5%;
  }
  .fa-arrow-right {
    color: #9c69e2;
  }

  .icon {
    display: block;
    margin-left: 90px;
  }
  .logo-responsive {
    display: flex;
    align-items: center;
  }
  .banner-container {
    grid-template-columns: repeat(1, 1fr);

    margin-top: -10%;
  }
  .banner-image {
    width: 231px;
    height: 231px;
  }
  .title {
    color: #30fbef;
    font-weight: 700;
    font-size: 38px;
  }
  .sub-text {
    color: #ffffff;
    font-size: 12px;
    text-align: justify;
  }
  .banner-btn {
    padding: 8px 15px;
  }
  .data-storage-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 8% 3%;
    margin: 8% 8%;
  }
  .data-storage-image {
    width: 220px;
    height: 220px;
  }
  .data-storage-text h1 {
    font-size: 24px;
    padding: 0 4%;
  }
  .data-storage-text p {
    text-align: justify;
    padding: 0 4%;
  }
  /* features styles */
  .features {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-card {
    margin: 5%;
    margin-left: 1%;
    margin-right: 7%;
    border-radius: 30px;
  }
  .features-container h1 {
    margin: 12% 12%;
  }
  .download-app-section {
    z-index: -2;
    height: fit-content;
  }
  .download-text {
    text-align: justify;
    width: 100%;
  }
  .download-image {
    margin-left: 5%;
    width: 100%;
    margin-top: 15%;
  }
}
